<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="codenser_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>fake_components/GenericSystem</plugin>
            </hardware>
            <joint name="c_206_height_check_system_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_206_height_check_system_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_206_height_check_system_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_206_height_check_system_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_203_robot_arm_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_203_robot_arm_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_203_robot_arm_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_203_robot_arm_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_203_robot_arm_joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_203_robot_arm_joint_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_203_robot_arm_joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_203_robot_arm_joint_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_204_pick_place_system_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_204_pick_place_system_joint_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="c_204_pick_place_system_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['c_204_pick_place_system_joint_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
