<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="codenser">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import codenser urdf file -->
    <xacro:include filename="$(find codenser_description)/urdf/codenser.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="codenser.ros2_control.xacro" />


    <xacro:codenser_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
