<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m_2025642_001">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import m_2025642_001 urdf file -->
    <xacro:include filename="$(find m_2025642_001_description)/urdf/m_2025642_001.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="m_2025642_001.ros2_control.xacro" />


    <xacro:m_2025642_001_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
