<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include the color definitions -->
  <!-- <xacro:include filename="$(find motoman_resources)/urdf/common_colors.xacro"/> -->

  <!-- Include the material definitions -->
  <!-- <xacro:include filename="$(find motoman_resources)/urdf/common_materials.xacro"/> -->

  <!-- Include the Motoman GP7 XACRO -->
  <xacro:include filename="$(find motoman_gp7_description)/urdf/gp7_macro.xacro"/>

  <!-- Include the Kiwi Cell XACRO -->
  <xacro:include filename="$(find kiwi_cell_description)/urdf/kiwi_cell.urdf.xacro"/>

  <!-- Define the combined robot -->
  <xacro:macro name="combined_robot" params="prefix">
    
    <!-- Motoman GP7 robot -->
    <xacro:motoman_gp7 prefix="${prefix}_gp7_"/>

    <!-- Kiwi Cell robot -->
    <xacro:kiwi_cell prefix="${prefix}_kiwi_"/>

    <!-- Example: Adding a transform between the two robot parts -->
    <joint name="${prefix}_motoman_kiwi_transform" type="fixed">
      <origin xyz="1.0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}_gp7_link_6_t"/>
      <child link="${prefix}_kiwi_base_link"/>
    </joint>

  </xacro:macro>

  <!-- Instantiate the combined robot -->
  <xacro:combined_robot prefix="combined_"/>

</robot>
