<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.1-12-ge40d886  Build Version: 1.6.8301.19567
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="codenser" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find m_2025642_001_description)/urdf/m_2025642_001.urdf.xacro" />
  <xacro:include filename="$(find m_2025643_001_description)/urdf/m_2025643_001.urdf.xacro" />
  <xacro:include filename="$(find m_2154940_001_description)/urdf/m_2154940_001.urdf.xacro" /> 
  <xacro:include filename="$(find m_4730788_001_description)/urdf/m_4730788_001.urdf.xacro" />
  <xacro:include filename="$(find m_5326927_001_description)/urdf/m_5326927_001.urdf.xacro" />
  <xacro:include filename="$(find m_2063306_000_description)/urdf/m_2063306_000.urdf.xacro" />

  <xacro:m_2025642_001 prefix="c_203_robot_arm_" />
  <xacro:m_2025643_001 prefix="c_204_pick_place_system_" />
  <xacro:m_2063306_000 prefix="c_208_workpiece_lifter_" />
  <xacro:m_2154940_001 prefix="c_205_workpiece_holder_" />
  <xacro:m_4730788_001 prefix="c_206_height_check_system_" />
  <xacro:m_5326927_001 prefix="c_207_workpiece_feeder_" />

  <link name="world" />

  <joint name="c_203_robot_arm_joint" type="fixed">
    <origin xyz="-0.6 0.3 0" rpy="0 0 1.571"/>
    <parent link="world"/>
    <child link="c_203_robot_arm_base_link"/>
  </joint>

   <joint name="c_204_pick_place_system_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="c_204_pick_place_system_base_link"/>
  </joint>

  <joint name="c_205_workpiece_holder_joint" type="fixed">
    <origin xyz="0.25 0.6 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="c_205_workpiece_holder_base_link"/>
  </joint> 

  <joint name="c_206_height_check_system_joint" type="fixed">
    <origin xyz="0.7 1.2 0" rpy="0 0 3.142"/>
    <parent link="world"/>
    <child link="c_206_height_check_system_base_link"/>
  </joint>

  <joint name="c_207_workpiece_feeder_joint" type="fixed">
    <origin xyz="1.1 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="c_207_workpiece_feeder_base_link"/>
  </joint>

  <joint name="c_208_workpiece_lifter_joint" type="fixed">
    <origin xyz="-0.28 0.85 0" rpy="0 0 0"/>
    <parent link="c_207_workpiece_feeder_base_link"/>
    <child link="c_208_workpiece_lifter_base_link"/>
  </joint>
  
</robot>